<div class="header-logo">
  Logo icon / Image here
  {% comment %}
    <img
      src="{{ 'logo.png' | asset_url }}"
      height="XXX"
      width="XXX"
      alt="{{ shop.name }} logo"
      loading="eager"
    >
  {% endcomment %}
  <span class="visually-hidden">{{ shop.name }} logo</span>
</div>