.option-value-list {

}

.option-value {
  margin-right: 10px;

  &.is-active {
    border-bottom: 1px solid black;
  }

  &.is-disabled {
    text-decoration: line-through;
    cursor: not-allowed;
  }
}