@use 'sass:math';

@import 'product/product-card';
@import 'product/product-detail-form';
@import 'product/product-detail-gallery';

.product-detail {
  > .container {
    display: flex;

    > div {
      flex: 1;
      padding: 0 math.div($grid-gutter-width, 2);
    }
  }
}