.btn {
  display: inline-block;
  background: none;
  text-transform: uppercase;
  background-color: $black;
  border: 2px solid $black;
  color: $white;
  border-radius: 0;
  padding: 10px 31px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  width: auto;
  cursor: pointer;
  text-decoration: none !important; // In case it's an <a> inside .rte

  @include has-hover {
    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background-color: lighten($black, 12%);
    }
  }

  &.disabled,
  &:disabled {
    cursor: not-allowed;

    // @include has-hover {
    //   &:hover,
    //   &:focus {

    //   }
    // }    
  }

  &:focus {
    outline: 0;
  }
}

.btn--block {
  width: 100%;
}