{% if request.design_mode %}
  <div class="layout-content-wrapper">
    {% section 'cart' %}
  </div>
{% else %}
  {% layout none %}
  <script type="text/javascript">window.location = '/?cart';</script>
{% endif %}