<div class="layout-content-wrapper">
  <div class="container">
    <a href="/collections">Collections</a>
    <a href="/collections/all">Shop All Collection</a>
    <a href="/cart">Cart</a>

    <div>
      {{ content_for_index }}
    </div>
  </div>
</div>